
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 800px;
  }

body #google-word {
    text-align: center ;
    font-family: "Product Sans";
    font-size: 70px;
}

  #google-word a:nth-child(1) {
    color:#4285F4;
    
  }
  #google-word a:nth-child(2) {
    color:#EA4335;
  }
  #google-word a:nth-child(3) {
    color:#FBBC05;
  }
  #google-word a:nth-child(4) {
    color:#4285F4;
  }
  #google-word a:nth-child(5) {
    color:#34A853;
  }
  #google-word a:nth-child(6) {
    color:#EA4335;
  }
  #google-word a:nth-child(7) {
    color:#FBBC05;
  }